<nav>
  <div class="nav-wrapper black">
    <div class="btn-floating btn-large green hide-on-med-and-down" id="happy-frog-nav">
      <%= link_to (image_tag "happy_frog_circle.png", class: "happy-frog", alt: "Big-Mouth-Frog-Logo"), root_path %>
    </div>
    <a href="#!" class="brand-logo" id="home_logo_size"><%= link_to (image_tag "co_logo_img.png", class: "brand-logo", alt: "Big-Mouth-Frog-Company-Name"), root_path %></a>
    <a href="#" data-activates="mobile-demo" class="btn-floating btn-large green button-collapse"><%= image_tag "happy_frog_circle.png", class: "happy-frog", alt: "Big-Mouth-Frog-Logo" %></a>
    <ul class="right hide-on-med-and-down">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "About Us", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Featured Clients", featured_clients_path %></li>
      <li><%= link_to "<i class='material-icons employee'>bug_report</i>".html_safe, new_user_session_path unless current_user %></li>
      <li><%= link_to "Dashboard", admin_root_path if current_user %></li>
      <li><h5 class="nav-phone">801-660-4411</h5></li>
    </ul>
    <ul class="side-nav green lighten-1" id="mobile-demo">
     <li><%= link_to "Home", root_path %></li>
     <li><%= link_to "About Us", about_path %></li>
     <li><%= link_to "Contact", contact_path %></li>
     <li><%= link_to "Featured Clients", featured_clients_path %></li>
     <li><a>801-660-4411</a></li>
    </ul>



  </div>
</nav>
