<div id="lilly-service">
  <div class="lilly-row"></div>
  <div class="lilly-row"></div>

  <div class="lilly-row">
    <div class="z-depth-5 s12 m4"><%= image_tag "SmallBiz.png" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Start-ups.png", class: "low-margin" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "E-commerce.png" %></div>
  </div>
  <div class="lilly-row">
    <div class="z-depth-5 s12 m4"><%= image_tag "ClientPortals.png" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Static.png", class: "low-margin" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Blog.png", class: "low-margin" %></div>
  </div>
</div>
