<div id="lilly-service">
  <div class="lilly-row"></div>
  <div class="lilly-row"></div>

  <div class="lilly-row">
    <div class="z-depth-5 s12 m4"><%= image_tag "SmallBiz.png", alt: "Big-Mouth-Frog-small-business" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Start-ups.png", alt: "Big-Mouth-Frog-start-up" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "E-commerce.png", alt: "Big-Mouth-Frog-e-commerce" %></div>
  </div>
  <div class="lilly-row">
    <div class="z-depth-5 s12 m4"><%= image_tag "ClientPortals.png", alt: "Big-Mouth-Frog-client-portal" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Static.png", alt: "Big-Mouth-Frog-static-pages", class: "low-margin" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Blog.png", alt: "Big-Mouth-Frog-blogs", class: "low-margin" %></div>
  </div>
</div>
