<div id="lilly-service">
  <div class="lilly-row"></div>
  <div class="lilly-row"></div>

  <div class="lilly-row">
    <div class="z-depth-5 s12 m4"><%= image_tag "SmallBiz.png", alt: "small-business" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Start-ups.png", alt: "start-up" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "E-commerce.png", alt: "e-commerce" %></div>
  </div>
  <div class="lilly-row">
    <div class="z-depth-5 s12 m4"><%= image_tag "ClientPortals.png", alt: "client-portal" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Static.png", alt: "static-pages", class: "low-margin" %></div>
    <div class="z-depth-5 s12 m4"><%= image_tag "Blog.png", alt: "blogs", class: "low-margin" %></div>
  </div>
</div>
