<% content_for :title, "About Us" %>
<% content_for :description, "We are a Dev shop passionate about making high quality websites for our clients" %>
<div class="about-background">

	<!-- <div id="about-title" >
		<h2>Meet the Team</h2>
	</div> -->


	<div class="row"></div>
	<ul class="collapsible popout" data-collapsible="accordion">
		<li><%= render 'about_BMF' %></li>
		<li><%= render 'about_jared' %></li>
		<li><%= render 'about_aaron' %></li>
		<li><%= render 'about_dan' %></li>
		<li><%= render 'about_sara' %></li>
	</ul>
	<div class="row"></div>
	<div class="about-background last"></div>
</div>
