<% content_for :title, "About Us" %>
<% content_for :description, "We are a Dev shop passionate about making high quality websites for our clients" %>

<div class="about-background" title="pond-water">
	<div class="row"></div>
	<ul class="collapsible popout" data-collapsible="accordion">
		<li><%= render 'about_BMF' %></li>
		<li><%= render 'about_jared' %></li>
		<li><%= render 'about_aaron' %></li>
		<li><%= render 'about_dan' %></li>
		<li><%= render 'about_sara' %></li>
	</ul>
	<div class="row"></div>
	<div class="last"></div>
</div>
