<% content_for :title, "Big Mouth Frog Dev Homepage" %>
<% content_for :description, "Need a good looking sleek website, from design to completion we can create any website you may need!" %>

<div class="parallax-container">
  <div class="parallax"><%= image_tag "frog_in_water.jpg", alt: "frog-in-water"%></div>
  	<div class="col s12 m6">
  			<div class="mission-words" id="title-push-down">
  			  <h3>We Make Websites that work hard for you</h3>
  			</div>
  	</div>


  	<div class="button-div center-align" id="button-div">
  		<div id="faq_button col s12 m6">
				<a href="contact" class="btn button-custom waves-effect waves-light btn-large green">Have a question? Please Bug us!<i class="material-icons right">bug_report</i><br>
				</a>
				<a href="contact" class="btn button-custom waves-effect waves-light btn-large green">I toadally want a free quote!<i class="material-icons right">description</i>
				</a>
			</div>
		</div>
</div>

<div class="tile grey-background row col-12" style="margin-bottom: 0px">
	<div class="buffer">
		<div class="mission-words">
			<h4>Hop into a new age of web develepment</h4><br><br>
		</div>
		<div class="mission-words"></div>
	</div>
</div>


	<div class="parallax-container">
  	<div class="parallax"><%= image_tag "lilyblossom.jpg", alt: "lilly-pad-with-flowers"%></div>
			<div class="container">
				<%= render 'build_content' %>
			</div>
	</div>

<!-- <div class="tile grey-background row col-12" style="margin-bottom: 0px">
	<div class="buffer">
		<div class="mission-words">
			<h4>Our Mission</h4><br><br>
		</div>
		<div class="mission-words"></div>
	</div>
</div>

<div class="parallax-container">
	<div class="parallax"><%= image_tag "dropgr.jpg", id: 'drop-pic' %></div>
		<div class="container">
			<%= render 'mission_statement' %>
		</div>
</div> -->
