<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106464960-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments)};
      gtag('js', new Date());

      gtag('config', 'UA-106464960-1');
    </script>


    <title><%= yield(:title) %></title>


    <meta charset="UTF-8">

    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Websites,Design,Dev Shop,Development,Ruby on Rails,Wordpress,Business">

    <meta name="description" content="<%= yield(:description) %>">


    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'happy_frog_circle.png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload',  async: Rails.env.production?  %>
  </head>

  <body>
    <%= render 'shared/alerts' %>
    <%= render 'shared/nav' %>
    <%= render 'shared/fixed_button' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
