<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>

    <link rel="stylesheet" href="/css/bootstrap.css">

    <meta charset="UTF-8">

    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="Pawnshop,Pawn,Layaway,Power Tools,Clothing,Leather,Biker">

    <meta name="description" content="Variety Mart is a the best local pawn shop in Idaho Falls">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'froglogo.jpg' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Bellefair|Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/alerts' %>
    <%= render 'shared/nav' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
